---
/** Success + error UI shown after enquiry form submission. */
---

<div class="enquiry-form-success" hidden>
	<p class="enquiry-form-success-title">One of the team will be in touch very soon</p>
	<p class="enquiry-form-success-text">Your enquiry is on its way to our inbox.</p>
</div>
<p class="enquiry-form-error" role="alert" hidden></p>
